// ***** Generic *****

body {
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: #242635;
}

.page-container {
    width: 85%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.navbar {
    width: 95%;
    margin: auto;

    &-brand {
        font-family: 'Baloo', sans-serif;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.25px;
    }

    &-toggler {
        border: none;
    }
}

.recipes {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;

    &__header {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.8px;
        padding-bottom: 10px;
    }

    &__paragraph {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        padding: 0 30px 10px 30px;
    }
}

