// ***** Authored Dependencies *****
@use "colours";
@import "mixin";

// ***** Generic *****

body {
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: colours.$main;
}

.page-container {
    max-width: 85%;
    height: 100vh;
    @include wrap;
    align-items: flex-end;
}

.navbar {
    max-width: 290px;
    margin: auto;

    &-brand {
        font-family: 'Baloo', sans-serif;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.25px;
    }

    &-toggler {
        border: none;
    }
}

.nav-item {
    font-family: Source Sans Pro;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    &:nth-child(2) {
        padding: 0 20px 0 20px;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: colours.$main;

    &:hover {
        color: lighten(colours.$main, 30%);
    }
}

.recipes {
    max-width: 100%;
    height: auto;
    @include wrap;
    justify-content: center;
    align-items: flex-end;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;

    &__header {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.8px;
        padding-bottom: 10px;
    }

    &__paragraph {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        padding: 0 30px 10px 30px;
    }
}

@media screen  and (min-width: 650px) {

    .navbar {
        max-width: 630px;
        padding-top: 35px;
    }

    .text {
        max-width: 700px;
        height: 200px;

        &__header {
            font-size: 72px;
            letter-spacing: -1.6px;
        }

        &__paragraph {
            font-size: 22px;
            line-height: 33px;
        }

    }
}